# This file is part of harbour-meteoswiss.
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Mirian Margiani

*.user*
*~
*.~*
.directory
.gitignore
build*
dist-old*
tmp*
icon-src/raw
TODO

databases/
raw/strings/*.clean
raw/strings/strings
raw/locations-temp/
reverse/
deep-rename.sh

libs/opal-translations
libs/opal-docs
