# This file is part of harbour-meteoswiss.
# SPDX-FileCopyrightText: 2018-2024 Mirian Margiani
# SPDX-License-Identifier: GPL-3.0-or-later
[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-meteoswiss
Exec=harbour-meteoswiss
Name=MeteoSwiss

# TRANSLATORS
# Please add a new line for your locale below, and translate the name. This is
# the name shown in the launcher menu. The name has to be short enough not to be
# abbreviated by the system. As a rule-of-thumb, around 15 Latin characters
# should be the limit. If your language uses a different script than Latin,
# please test it before submitting your translation.
Name[en]=MeteoSwiss
Name[de]=MeteoSchweiz
Name[fr]=MétéoSuisse
Name[it]=MeteoSvizzera

[X-Sailjail]
Permissions=Internet
OrganizationName=harbour-meteoswiss
ApplicationName=harbour-meteoswiss

[X-HarbourBackup]
BackupPathList=.local/share/harbour-meteoswiss/:.cache/harbour-meteoswiss:.config/harbour-meteoswiss
BackupConfigList=/apps/harbour-meteoswiss/
