[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=meteoswiss
Exec=invoker --type=generic -s /home/nemo/bin/qml /home/nemo/Devel/meteoswiss/meteoswiss.qml
Name=MeteoSwiss
Name[de]=MeteoSchweiz
Name[en]=MeteoSchweiz
Name[fr]=MeteoSuisse

X-Desktop-File-Install-Version=0.20
